%h2= t('edit_snippet')
%form{'action' => url("/admin/snippets/#{@snippet.id}"), 'method' => "post"}
  %input(type="hidden" name="_method" value="put")
  = partial 'snippets/form', :views => Lokka.admin_theme_dir, :layout => :admin_layout
  %p
    %input(type="submit" value="#{t('save')}")
