/*
Name: One Column Neue
Description: Simple one-column theme.
URL: http://lokka.org/
Author: yayugu
Author URL: http://moji.yayugu.net/
Version: 0.0.2
*/

@charset "UTF-8";

/*
Skin Name: One Column Neue
Author: yayugu
*/

$w: 850px;
$c: #444444;

@mixin centering {
  margin: {
    left: auto;
    right: auto;
  }
}

@mixin mono-link {
  a:link, a:visited, a:hover {
    color: $c;
    text-decoration: none;
  }
  a:visited {
    color: #666666;
    text-decoration: none;
  }
}

#header {
  width: $w;
  @include centering;
  h1 {
    display: inline;
    font-size: 1em;
    margin-right: 1em;
  }
}

#footer {
  width: $w;
  @include centering;
  font-size: 0.8em;
  text-align: right;
  @include mono-link;
}

body {
  background: #FAFAFA;
  color: $c;
 	padding: {
    top: 8px;
    bottom: 8px;
  }
	border: {
    style: solid;
    color: #777777;
    width: 8px 0;
  }
}

.article {
  margin: {
    top: 3em;
    bottom: 3em;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, FreeSerif, serif;
  @include mono-link
}

h1 {
  font-size: 3em;
}

#main {
  width: $w;
  @include centering;
}

.header {
  font-size: 0.8em;
  h1 {
    margin-bottom: 5px;
  }
}

.admin-footer {
  font-size: 0.5em;
}

.comment-wrap {
  margin-top: 8em;
}

/* tags */

ul.tags {
  display: inline;
  list-style: none;
  list-style-type: none;
  padding-left: 0;

  li {
    display: inline;
    margin-right: 0.3em;
    @include mono-link;
  }
}

/* link */

a:link {
  color: #000;
}

a:visited {
  color: #333;
}

a:hover {
  color: #555;
  text-decoration: none;
}

a:focus,
textarea:focus,
input:focus {
  outline: 1px solid #aaa;
}

/* code & syntax highlight */

pre {
  padding: 15px 20px;
  background-color: #232323;
  font-size: 13px;
  font-family: monospace;
  line-height: 1.20;
  color: #E6E0DB;
  overflow: auto;

  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
}

// old version: short class name
// new(<1.0) version: long class name
.CodeRay {
  .an { color:#E7BE69 }                      /* html attribute */
  .c  { color:#CCA388 }                      /* comment */
  .ch { color:#509E4F }                      /* escaped character */
  .cl { color:#FFF }                         /* class */
  .co { color:#FFF }                         /* constant */
  .float,
  .fl { color:#A4C260 }                      /* float */
  .fu { color:#FFC56D }                      /* function */
  .gv { color:#D0CFFE }                      /* global variable */
  .integer,
  .i  { color:#A4C260 }                      /* integer */
  .il { background:#151515 }                 /* inline code */
  .iv { color:#D0CFFE }                      /* instance variable */
  .pp { color:#E7BE69 }                      /* doctype */
  .keyword,
  .r  { color:#CB7832 }                      /* keyword */
  .regex,
  .rx { color:#A4C260 }                      /* regex */
  .string,
  .s  { color:#A4C260 }                      /* string */
  .sy { color:#6C9CBD }                      /* symbol */
  .ta { color:#E7BE69 }                      /* html tag */
  .pc { color:#6C9CBD }                      /* boolean */
}
