@charset "utf-8";
/* CSS Document */

@mixin font1 {
  font-family:"Lucida Sans Unicode","Lucida Grande",Arial,Helvetica,"ヒラギノ丸ゴ Pro W4",HiraMaruPro-W4,"ヒラギノ角ゴ Pro W3",HiraKakuPro-W3,Osaka,sans-serif;
}

@mixin font2 {
    font-family:"Myriad Pro SemiBold","Myriad Bold","Lucida Sans Unicode","Lucida Grande",Arial,Helvetica,"ヒラギノ角ゴ Pro W6",HiraKakuPro-W6,Osaka,sans-serif;
}

@mixin font3 {
  font-family: 'Lucida Grande',Verdana,Arial,'Hiragino Kaku Gothic Pro',Meiryo,'メイリオ',sans-serif;
}

@mixin border-radius1 {
   -webkit-border-radius: 15px;
   -moz-border-radius: 15px;
   border-radius: 15px;
}
 
@mixin background-gradient1 {
  background: -webkit-gradient(linear, 0 0, 0 bottom, from(#f3f3f3), to(#ccc));
  background: -moz-linear-gradient(#f3f3f3, #bbb);
}

@mixin box-shadow1 {
  box-shadow: #000 1px 1px 3px;
  -webkit-box-shadow: #000 1px 1px 2px;
  -moz-box-shadow: #000 1px 1px 2px;
}

.clearfix,
div,
ul,
dl,
form,
blockquote {
  min-height: 1px;
  display: block;  /* ブロックレベル要素に */
  &:after {
    content: ".";
    display: block;
    height: 0px;
    clear: both;
    visibility: hidden;
  }
}
 /*
 ブラウザの初期設定をリセットする為のCSS
 */

 /* --HTML-- */
 html {
  overflow-y:scroll;
  background-image: url(images/html.gif);
 }

 /* --BODY-- */
 body {
  padding:0;
  line-height: 1.4;
  @include font1;  
  font-size: 13px;
  color: #444;
  margin: 0;
 }

 /* --OTHER TAGS-- */
 a img, fieldset, img {
 border:0;
 }

 blockquote, dd, div, dl, dt, fieldset, form,
 h1, h2, h3, h4, h5, h6, input, li, ol, p, pre,
 select, span, textarea, td, th, ul {
  margin:0;
  padding:0;
 }

 h1, h2, h3, h4, h5, h6, input , dt {
  @include font2; 
}  
   
 abbr, acronym {  
   border:0;  
 }  
   
 address, caption, cite, code, dfn, em, th, strong, var {  
   font-style:normal;  
   font-weight:normal;  
 }  
   
 caption, th {  
   text-align:left;  
 }  
   
code, kbd, pre, samp, tt {  
   font-family:monospace;  
   line-height:100%;  
 }  
   
 /* for IE7 */  
 *+html code, kbd, pre, samp, tt {  
   font-size:108%;  
 }  
   
 h1, h2, h3, h4, h5, h6 {
  font-size:100%;
  font-weight:normal;
  line-height: 1;
 }  

 input, select, textarea{
 font-size:100%; 
  @include font3; 
 }  

 ol, ul {  
   list-style:none;  
 }  

 q:before, q:after {  
   content:'';  
 }

 /* tables still need 'cellspacing="0"' */
 table {
   border-collapse:collapse;
   border-spacing:0;
   font-size:100%;
 }

a {
  overflow: hidden;
  &:link, &:visited {
    color: #1f8fb8;
  }
  &:hover,&:active {
    color: #ec189a;
   }
}  

/* end of resetting */
 
.hidden {
  display: none;
  visibility: hidden;
}

.wide {
  margin-right: auto;
  margin-left: auto;
  width: 970px;
}

/* #header */

#header {
  .section {
    padding-top: 15px;
  }

 .language {
    background-image: url(images/header_language.gif);
    height: 37px;
    padding-top: 3px;

    li {
      margin-right: 15px;
      margin-top: 5px;
      margin-bottom: 5px;
      float: right;

      a {
        display: block;
        height: 23px;
        line-height: 23px;
        text-decoration: none;
        font-size: 12px;
        background-image: url(images/language_a.png);
        width: 107px;
        text-align: center;

        &:link, &:visited {
          text-shadow:1px 1px 0px #000;
          color: #f3f3f3;
          background-position: 0px 0px;
        }

        &:hover, &:active {
          text-shadow:1px 1px 0px #000;
          color: #f3f3f3;
          background-position: 0px bottom;
        }
      }
    }
  }

  h1 {
    a {
      background-image: url(images/header_h1_a.gif);
      display: block;
      float: left;
      height: 60px;
      width: 270px;
      text-indent: -9999px;
    }
    
    &:link,
     &:visited {
      background-position: left top;
    }

    &:hover,
    &:active {
      background-position: left -60px;
    }
  }

/* header nav */
  .nav {
    @include font3;  
    float: right;
    width: 700px;
    padding-top: 26px;

    li {  
      display: block;
      float: left;
      margin-right: 15px;

      a {
        display:block;
        float:left;
        line-height: 23px;
        text-decoration: none;
        white-space: nowrap;
        height: 23px;
        padding-right: 10px;
        padding-left: 10px;
        font-size: 14px;
        font-weight: bold;

        &:link, &:visited {
          margin: 1px;
          text-shadow:1px 1px 0px #000;
          color: #f3f3f3;
        }

        &:hover, &:active {
          margin: 0px;
          text-shadow:1px 1px 0px #f3f3f3;
          @include border-radius1; 
          @include background-gradient1;
          @include box-shadow1; 
          border: 1px solid #aaa;
          color: #333;
        }
      }
    }
  }

  /* header bred_crumbs */
 .bred_crumbs {
    clear:both;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 12px;

     li {
      display:inline;
      color: #ccc;

      a {
        display:inline;
        color: #90A3D2;
        &:link, &:visited {
          text-decoration: none;
        }
        &:hover, &:active {
          text-decoration: none;
          color: #C39;
        }
        &:after {
          content:"\00bb";
          color: #ccc;
          margin-right: 1.2em;
          margin-left: 1.2em;
        }
      }
    }
  }

/* header eye_catch */
 .eye_catch {
    width: 500px;
    float: right;
    color: #FFF;

    h1 {
      background-image: url(images/index_header_h1.gif);
      height: 85px;
      text-indent: -9999px;
      display: block;
      text-align: center;
      float: left;
      width: 350px;
     }

    h2 {
      font-size: 16px;
      display: block;
      line-height: 45px;
      float: left;
      height: 45px;
      padding-left: 10px;
      width: 140px;
      padding-top: 40px;
     }

    .description {
       display: block;
      clear: both;
      padding-top: 15px;

      p {
        color: #FFF;
        font-size: 14px;
        line-height: 1.8;
      }

      ul {
        background-image: url(images/header_deascription_ul.gif);
        height: 55px;
        padding-left: 10px;
        margin-top: 20px;
         background-repeat: no-repeat;
     }

     li {
        display: block;
        float: left;
        margin-right: 15px;
        height: 55px;

        a {
          display:block;
          height: 55px;
          text-indent: -9999px;
          float:left;
        }

        .cloud {
          width:95px;
          margin-right: 35px;
          text-indent: -9999px;
        }

        .ruby {
          a {
            width:95px;
          }
        }
      }
    }
  }

/* header capture */
  .capture {
    width: 435px;
    height:320px;
    float: left;
    background-image: url(images/header_capture.jpg);
    background-repeat: no-repeat;

    a {
      display: block;
      margin-top: 222px;
      height: 50px;
      margin-right: 86px;
      margin-left: 88px;
      text-indent: -9999px;
      background-image: url(images/download_button.jpg);
      background-repeat: no-repeat;
    }

    &:link, &:visited {
      background-position: 0px -60px;
    }

    &:hover, &:active {
      background-position: 0px 0px;
    }
  }
}

/* index header */
.index {
  #header {
     .section {
      padding-bottom: 15px;
      padding-top: 25px;
    }

    .nav {
      float: none;
      width: 100%;
      padding-top: 0px;
      background-image: url(images/index_header_nav.gif);
      height: 25px;
      clear: both;
      margin-bottom: 20px;
      margin-top: 0px;
      padding-top: 10px;
      padding-bottom: 10px;

      li {
        margin-right: 15px;
        line-height: 25px;

        a {
          display: block;
          height: 25px;
          line-height: 25px;
          text-decoration: none;
          padding-right: 10px;
          padding-left: 10px;
          font-size: 16px;
        }      

        .home {
          margin-top: 0px;
          margin-bottom: 0px;
          margin-right: 18px;

          a {
            display: block;
            height: 40px;
            line-height: 30px;
            text-decoration: none;
            font-size: 16px;
            background-image: url(images/heder_nav_home.gif) !important;
            text-indent: -9999px;
            width: 105px;
            padding: 0px;

            &:link, &:visited {
              margin: 0px;
              background-position: 0px 0px;
            }

             &:hover, &:active {
              background-position: 0px -40px;
              border-top-style: none;
              border-right-style: none;
              border-bottom-style: none;
              border-left-style: none;
              background-color: transparent;
              box-shadow: none;
              -webkit-box-shadow: none;
              -moz-box-shadow: none;
            }
          }
        }
      }
    }
  }
}

#container {
  margin-bottom:25px;
  clear: both;
  width:970px;
  margin-left:auto;
  margin-right:auto;
}

#main {
  float: left;
  width: 700px;
  color: #ddd;

  .header {
    border: none;
    background-image: url(images/index_content_header.gif);
    padding-top: 15px;
    padding-right: 25px;
    padding-left: 25px;
    margin: 0px;
    padding-bottom: 25px;
    
    h3, h2 {
       font-size: 30px;
       display: block;
       padding-bottom: 6px;
       background-image: url(images/section_header_title.gif);
       background-repeat: repeat-x;
       background-position: left bottom;
       margin: 0px;
       line-height: 1.3;
    }

    h2.title a {
      color: #ddd;
      text-decoration: none;
      text-shadow:1px 1px 0px #444;
    }
  }

/* main section */
  .section {
    padding-top: 0px;
    border: none;
    margin-bottom: 20px;
    background-image: url(images/index_content_footer.gif);
    background-position: left bottom;
    padding-bottom: 10px;
    
    h3 {
      font-size: 20px;
      line-height: 1.3;
      font-weight: bold;
      margin-bottom: 18px;
    }
    
    .body {
      border: none;
      background-image: url(images/index_content.gif);
      padding-right: 25px;
      padding-left: 25px;
      
      p {
        font-size: 14px;
        line-height: 1.7;
        margin-bottom: 1.8em;
      }

      h3 {
        font-size: 20px;
        line-height: 1.3;
        margin-bottom: 1.2em;
        font-weight:bold;
        text-shadow:1px 1px 0px #444;
        display: block;
        background-color: #374978;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
        padding-top: 8px;
        padding-right: 15px;
        padding-bottom: 8px;
        padding-left: 15px;
        border-top-width: 1px;
        border-right-width: 1px;
        border-bottom-width: 1px;
        border-left-width: 1px;
        border-top-style: solid;
        border-right-style: solid;
        border-bottom-style: solid;
        border-left-style: solid;
        border-bottom-color: #334d7d;
        border-left-color: #334d7d;
        border-top-color: #162d58;
        border-right-color: #162d58;
        background: -moz-linear-gradient(top, #374978, #2e406d);
        background: -webkit-gradient(linear, center top, center bottom, from(#374978), to(#2e406d));
      }

      h4 {
        font-size: 16px;
        line-height: 1.3;
        margin-bottom: 1.2em;
        font-weight:bold;
      }

      h5 {
        font-size: 14px;
        line-height: 1.3;
        margin-bottom: 1.3em;
        font-weight:bold;
      }

      h6 {
        font-size: 13px;
        line-height: 1.3;
        margin-bottom: 1.4em;
        font-weight:bold;
      }

      dl {
        font-size: 13px;
        margin-bottom: 1.5em;
        background-color: #394a76;
        margin-right: 15px;
        margin-left: 15px;
        padding-top: 15px;
        padding-right: 20px;
        padding-bottom: 5px;
        padding-left: 20px;
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        border-radius: 12px;
      }

      dt {
        font-size: 13px;
        line-height: 1.3;
        margin-bottom: 1.4em;
        font-weight:bold;
      }

      dd {
        font-size: 13px;
        line-height: 1.7;
        margin-bottom: 1.4em;
      }

      blockquote {
        font-size: 13px;
        margin-bottom: 1.5em;
        background-color: #546490;
        margin-right: 15px;
        margin-left: 15px;
        padding-top: 15px;
        padding-right: 20px;
        padding-bottom: 5px;
        padding-left: 20px;
        -webkit-border-radius: 0px 12px 12px 0px;
        -moz-border-radius: 0px 12px 12px 0px;
        border-radius: 0px 12px 12px 0px;
        border-left-width: 12px;
        border-left-style: solid;
        border-left-color: #2b3f71;
        color: #06112d;
      }

      ol {
        font-size: 14px;
        margin-bottom:2.2em;
        list-style-type: decimal;
        padding-left: 30px;
        display: block;
      }

      ul {
        font-size: 14px;
        margin-bottom:1.4em;
        list-style-type: disc;
        padding-left: 30px;
      }

      li {
        line-height: 1.4;
        margin-bottom: 0.8em;
      }

      a { 
       &:link,
       &:visited {
          color: #82a5ff;
       }
       &:hover,
       &:active {
         color: #C39;
       } 
      }
      
      pre {
        margin-bottom: 1.8em;
        background-color: #222;
        display: block;
        padding: 12px;
        color: #0F0;
      }

      .object {
        text-align: center;
        border: 5px solid #506498;
        margin-bottom: 2em;
        background-color: #374978;
      
        div {
          text-align: center;
          margin-right: auto;
          margin-left: auto;
        } 
      }
    
      hr {
        text-align: center;
        margin-bottom: 3em;
        border-top-width: 3px;
        border-bottom-width: 1px;
        border-top-style: solid;
        border-right-style: none;
        border-bottom-style: solid;
        border-left-style: none;
        border-top-color: #39486E;
        border-bottom-color: #506498;
        margin-top: 1em;
      }
    }
  
    .footer {
      clear: both;
      padding-right: 25px;
      padding-left: 25px;
      padding-bottom: 15px;
    
     .created_at {
        clear: both;
        display: block;
        float: right;
        background-color: #374978;
        font-size: 12px;
        padding-top: 5px;
        padding-right: 12px;
        padding-bottom: 5px;
        padding-left: 12px;
        border-top-width: 1px;
        border-right-width: 1px;
        border-bottom-width: 1px;
        border-left-width: 1px;
        border-top-style: solid;
        border-right-style: solid;
        border-bottom-style: solid;
        border-left-style: solid;
        border-bottom-color: #495a89;
        border-left-color: #495a89;
        border-top-color: #2d3f6d;
        border-right-color: #2d3f6d;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
        background: -moz-linear-gradient(top, #374978, #2e406d);
        background: -webkit-gradient(linear, center top, center bottom, from(#374978), to(#2e406d));
      }
    }     
  } 
}

#aside {
  float: right;
  width: 250px;

  dt {
    background-repeat: no-repeat;
    font-size: 18px;
    display: block;
    margin-bottom: 10px;
    line-height: 1.3;
    color: #ddd;
    background-image: url(images/aside_dt.png);
    background-position: left center;
    padding-left: 20px;
    margin-left: 8px;
    text-shadow:1px 1px 0px #444;
  }

  dd {
    background-repeat: no-repeat;
    background-color: #506498;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    padding-top: 2px;
    margin-bottom: 25px;
    display: block;
  
    li {
      background-repeat: no-repeat;
      background-color: #506498;
      display: block;
      border-bottom-width: 1px;
      border-bottom-style: dotted;
      border-bottom-color: #697cac;
      padding-top: 8px;
      padding-bottom: 8px;
    
      &:last-child {
        border: none;
        padding-bottom: 0px;
      }
    
      a {
        display: block;
        text-decoration: none;
        padding-top: 5px;
        padding-right: 12px;
        padding-bottom: 5px;
        padding-left: 12px;
        font-size: 13px;
       
        &:link,
        &:visited {
          color:#ccc;
        }
        &:hover,
        &:active {
           background-color: #41527E;
           -webkit-border-radius: 8px;
           -moz-border-radius: 8px;
           border-radius: 8px;
           color:#fff;
        }
      }
    }
  }
}  

/* #main .section */

/* #footer .content */

#footer {
  background-color:#333;
  padding-top: 25px;
  padding-bottom: 30px;
  background-image: url(images/footer.gif);
  background-repeat: repeat-x;
  background-position: left top;
  clear: both;

  .sections {
    margin-right: auto;
    margin-left: auto;
    width: 970px;
    margin-bottom: 35px;
  }
  
  .section {
    width: 320px;
    float: left;
  
    h3 {
      color: #FFF;
      display: block;
      line-height: 1.3;
      font-size: 16px;
      margin-bottom: 12px;
     }
  }

  .language {
    ul {
      text-align: center;
      margin-bottom: 0.5em;
     }
   
    li {
      display: inline;
      margin: 0.3em;
    }
  }

  .copy {
    color: #FFF;
    text-align: center;
    display: block;
 
    a {
      &:link, &:visited {
        text-decoration: none;
        color: #FFF;
      }

      &:hover, &:active {
        color: #ec189a;
        text-decoration: underline;
      }
    }
  }
}
