%h2= t('akismet.title')
%p= t('akismet.banner')
%form{:action => url("/admin/plugins/akismet"), :method => 'post'}
  %input{:type => 'hidden', :name => '_method', :value => 'put'}
  .field
    %label{:for => 'akismet_key'}= t('akismet.akismet_key_entry')
    %br
    %input{:type => 'text', :id => 'akismet_key', :name => 'akismet[akismet_key]', :value => @akismet}
  %br
  .field
    %p
    %input{:type => 'submit', :value => t('save')}
