%article
  / date start
        .date
            %img{:src => "images/date.png"}/
            .date_contents
              %p.days 06/19
              %p.year ..2012
          / date end
          / a_contents start
          .article_contents
            / title start
            .title
              %h2
                %a{:href => "/1"} test post
            / title end
            / tags start
            .tags
              %p tags :
              %ul
                %li
                  %a{:href => "/tags/lokka/"} Lokka
            / tags end
            / body start
            .body
              %p test
              %img.article_image{:src => "images/test.jpg"}
                %h3 test
                %p test
                %p test
                %p test
                %p.edit
                  %a{:href => "/admin/post/1/edit"} •ÒW