body{
  font-size: 13px;
  padding: 0 10px;
}

img{
  max-width:560px;
  height:auto;
}

p{
  margin: 0.8em 0;
}

h1,
h2,
h3,
h4,
h5,
h6{
  margin: 1em 0 0.5em 0;
}

h1,
h2{
    font-size:130%;
}

h3{
    font-size:120%;
}

h4{
    font-size:110%;
}
h5{
    font-size:100%;
}

h6{
    font-size:100%;
}

h1,
h2,
h3{
    border-bottom:1px dotted #999;
}

ul{
  margin: 0 0 0 1.5em;
  padding: 0;
}


blockquote{
  padding: 10px;
  margin: 1em 0;
  border:1px solid #ddd;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}

blockquote p{
    margin-top:0;
    margin-bottom:0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

table th,
table td{
  border:1px solid #ddd;
  padding:5px 10px;
}

table th{
  background:#fafafa;
}