html, body {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, cite, code, del, dfn, em, img, q, s, samp, small, strike, strong, sub, sup, tt, var, dd, dl, dt, li, ol, ul, fieldset, form, label, legend, button, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-style: normal;
  font-size: 100%;
  line-height: 1;
  font-family: inherit; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

ol, ul {
  list-style: none; }

q:before, q:after, blockquote:before, blockquote:after {
  content: ""; }

html {
  overflow-y: scroll;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:hover,
a:active {
  outline: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block; }

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

audio:not([controls]) {
  display: none; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0;
  -ms-interpolation-mode: bicubic; }

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle; }

button,
input {
  line-height: normal;
  *overflow: visible; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button; }

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

.clearfix {
  zoom: 1; }
  .clearfix:before, .clearfix:after {
    display: table;
    content: "";
    zoom: 1;
    *display: inline; }
  .clearfix:after {
    clear: both; }

body {
  background: url(../images/body.gif);
  color: #4d5658; }
  body a {
    color: #4d5658; }

header {
  height: 60px;
  padding: 0 10px;
  zoom: 1; }
  header:before, header:after {
    display: table;
    content: "";
    zoom: 1;
    *display: inline; }
  header:after {
    clear: both; }
  header h1 {
    float: left; }
    header h1 a {
      font-size: 26px;
      line-height: 60px;
      font-weight: bold;
      color: #6e6e6e;
      text-decoration: none; }
  header nav ul {
    float: right;
    padding-top: 16px; }
    header nav ul li {
      float: left; }
      header nav ul li a {
        text-decoration: none;
        display: block;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        border-radius: 4px;
        font-size: 12px;
        line-height: 28px;
        padding: 0 12px;
        margin: 0 0 0 12px; }
        header nav ul li a:link, header nav ul li a:visited {
          background: #2b2e2e;
          text-shadow: black 0 -1px 0;
          color: #abb4b4;
          box-shadow: #405069 0 1px 0, inset #141616 0 1px 0; }
          header nav ul li a:link img, header nav ul li a:visited img {
            opacity: 0.7; }
        header nav ul li a:hover, header nav ul li a:active {
          background: #3e4242;
          box-shadow: black 0 1px 4px;
          color: white; }
          header nav ul li a:hover img, header nav ul li a:active img {
            opacity: 1; }
        header nav ul li a img {
          margin: 5px 8px 0 -2px;
          float: left;
          height: 18px;
          width: 18px;
          -moz-border-radius: 2px;
          -webkit-border-radius: 2px;
          border-radius: 2px; }

#body {
  zoom: 1; }
  #body:before, #body:after {
    display: table;
    content: "";
    zoom: 1;
    *display: inline; }
  #body:after {
    clear: both; }
  #body:before {
    content: " ";
    display: block;
    height: 10px;
    background: #dfdfdf;
    box-shadow: inset #b3b3b3 0 1px 5px;
    border-bottom: white solid 1px; }

#sub {
  float: left;
  width: 180px;
  border-right: white solid 1px;
  box-shadow: #b8b8b8 1px 0 1px;
  border-top: white solid 1px; }
  #sub > ul > li {
    display: block;
    padding: 10px 0 10px 10px;
    zoom: 1; }
    #sub > ul > li:before, #sub > ul > li:after {
      display: table;
      content: "";
      zoom: 1;
      *display: inline; }
    #sub > ul > li:after {
      clear: both; }
    #sub > ul > li h2 {
      color: #c2c2c2;
      font-size: 13px;
      margin: 0 0 10px 0;
      padding: 0 0 0 28px;
      line-height: 20px;
      font-weight: bold;
      background: left top no-repeat;
      text-shadow: #555555 0 -1px 0; }
    #sub > ul > li ul li {
      display: inline; }
      #sub > ul > li ul li a {
        float: left;
        font-size: 12px;
        text-decoration: none;
        display: block;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        border-radius: 4px;
        width: 77px;
        margin: 0 6px 0 0;
        text-align: center;
        line-height: 22px; }
        #sub > ul > li ul li a:link, #sub > ul > li ul li a:visited {
          background: #d1d1c1;
          color: #c2c2c2; }
        #sub > ul > li ul li a:hover, #sub > ul > li ul li a:active {
          background: #667174;
          color: white;
          box-shadow: #333333 0 1px 2px; }
  #sub > ul > li:nth-child(odd) {
    box-shadow: inset white 0 0 0;
    border-bottom: #d1d1c1 solid 1px;
    border-top: #8a8a8a solid 1px; }
  #sub > ul > li:first-child {
    border-top: none; }
    #sub > ul > li:first-child ul li a:link, #sub > ul > li:first-child ul li a:visited {
      background: #5f5f5f;
      color: #c2c2c2;
      box-shadow: #777777 0 1px 0, inset #555555 0 1px 0; }
    #sub > ul > li:first-child ul li a:hover, #sub > ul > li:first-child ul li a:active {
      background: #00c0f0;
      color: white;
      box-shadow: #333333 0 1px 2px; }
  #sub > ul > li:nth-child(even) {
    box-shadow: inset #8c8c8c 0 0 0;
    border-bottom: #4d4d4d solid 1px;
    border-top: #777777 solid 1px; }
    #sub > ul > li:nth-child(even) ul li a {
      background: #474747; }
      #sub > ul > li:nth-child(even) ul li a:link, #sub > ul > li:nth-child(even) ul li a:visited {
        background: #5f5f5f;
        color: #c2c2c2;
        box-shadow: #666666 0 1px 0, inset #555555 0 1px 0; }
      #sub > ul > li:nth-child(even) ul li a:hover, #sub > ul > li:nth-child(even) ul li a:active {
        background: #00c0f0;
        color: white;
        box-shadow: #333333 0 1px 2px; }
  #sub > ul > li.carrent {
    background: white;
    box-shadow: none;
    border-bottom: white solid 1px;
    border-top: white solid 1px; }
    #sub > ul > li.carrent h2 {
      color: #dc2e78;
      background: left bottom no-repeat;
      text-shadow: none; }
    #sub > ul > li.carrent ul li a:link, #sub > ul > li.carrent ul li a:visited {
      background: #e6eced;
      color: #c2c2c2;
      box-shadow: none; }
    #sub > ul > li.carrent ul li a:hover, #sub > ul > li.carrent ul li a:active {
      background: #00c0f0;
      color: white;
      box-shadow: #333333 0 1px 2px; }
    #sub > ul > li.carrent ul li.carrent a {
      background: #00c0f0;
      color: white; }
  #sub > ul li.post h2 {
    background-image: url(images/post.png); }
  #sub > ul li.page h2 {
    background-image: url(images/page.png); }
  #sub > ul li.snippet h2 {
    background-image: url(images/snippet.png); }
  #sub > ul li.tag h2 {
    background-image: url(images/tag.png); }
  #sub > ul li.category h2 {
    background-image: url(images/category.png); }
  #sub > ul li.comment h2 {
    background-image: url(images/comment.png); }
  #sub > ul li.user h2 {
    background-image: url(images/user.png); }
  #sub > ul li.plugin h2 {
    background-image: url(images/plugin.png); }
  #sub > ul li.theme-pc h2 {
    background-image: url(images/theme-pc.png); }
  #sub > ul li.theme-mobile h2 {
    background-image: url(images/theme-mobile.png); }
  #sub > ul li.custom-field h2 {
    background-image: url(images/custom-field.png); }

#main {
  margin: 0 0 0 180px;
  padding: 20px 0 0 20px;
  zoom: 1; }
  #main:before, #main:after {
    display: table;
    content: "";
    zoom: 1;
    *display: inline; }
  #main:after {
    clear: both; }
  #main .header {
    height: 31.2px;
    border-bottom: #dddddd 1px solid; }
    #main .header h1 {
      font-size: 26px;
      font-weight: bold;
      line-height: 26px;
      color: #4d5658;
      float: left; }
    #main .header nav {
      float: right;
      padding: 0 25px 0 0; }
      #main .header nav ul {
        display: inline; }
        #main .header nav ul li {
          display: inline;
          float: left; }
          #main .header nav ul li a {
            text-decoration: none;
            display: block;
            -moz-border-radius: 4px;
            -webkit-border-radius: 4px;
            border-radius: 4px;
            font-size: 13px;
            line-height: 27.6px;
            background: #cccccc;
            padding: 0 20px;
            font-weight: bold;
            color: white; }
  #main .body {
    margin: 17px 25px 0 0; }
    #main .body .conditions {
      height: 34px; }
      #main .body .conditions li {
        display: inline; }
        #main .body .conditions li a {
          display: block;
          float: left;
          font-size: 12px;
          line-height: 24px;
          padding: 0 12px;
          text-decoration: none;
          background: #d3d3d3;
          background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2QzZDNkMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjMWMxYzEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
          background: -moz-linear-gradient(top, #d3d3d3 0%, #c1c1c1 100%);
          background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d3d3d3), color-stop(100%, #c1c1c1));
          background: -webkit-linear-gradient(top, #d3d3d3 0%, #c1c1c1 100%);
          background: -o-linear-gradient(top, #d3d3d3 0%, #c1c1c1 100%);
          background: -ms-linear-gradient(top, #d3d3d3 0%, #c1c1c1 100%);
          background: linear-gradient(top, #d3d3d3 0%, #c1c1c1 100%);
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d3d3d3', endColorstr='#c1c1c1',GradientType=0 );
          box-shadow: inset white 0 0 2px, inset #888888 0 0 1px;
          border-left: #cccccc solid 1px;
          border-right: #aaaaaa solid 1px; }
        #main .body .conditions li:first-child a {
          border-radius: 12px 0 0 13px;
          border-left: none;
          padding: 0 12px 0 18px; }
        #main .body .conditions li:last-child a {
          border-radius: 0 12px 12px 0;
          border-right: none;
          padding: 0 18px 0 12px; }
    #main .body p {
      font-size: 13px;
      line-height: 22.1px;
      margin: 0 0 20.8px 0; }
    #main .body table {
      font-size: 13px;
      width: 100%;
      border-radius: 4px;
      border: #dddddd solid 1px; }
      #main .body table thead {
        background: #d3d3d3;
        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2QzZDNkMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjMWMxYzEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
        background: -moz-linear-gradient(top, #d3d3d3 0%, #c1c1c1 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d3d3d3), color-stop(100%, #c1c1c1));
        background: -webkit-linear-gradient(top, #d3d3d3 0%, #c1c1c1 100%);
        background: -o-linear-gradient(top, #d3d3d3 0%, #c1c1c1 100%);
        background: -ms-linear-gradient(top, #d3d3d3 0%, #c1c1c1 100%);
        background: linear-gradient(top, #d3d3d3 0%, #c1c1c1 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d3d3d3', endColorstr='#c1c1c1',GradientType=0 );
        box-shadow: inset white 0 0 2px, inset #888888 0 0 1px;
        border: #c9c9c9 solid 1px; }
        #main .body table thead th {
          line-height: 26.4px;
          font-size: 12px;
          font-weight: bold;
          border-bottom: #cccccc solid 1px; }
      #main .body table tbody tr td {
        padding: 6px 10px;
        border-bottom: 1px solid #dddddd;
        line-height: 1.5; }
      #main .body table tbody tr td.title {
        width: 40%; }
        #main .body table tbody tr td.title a {
          display: block;
          padding: 6px;
          -moz-border-radius: 4px;
          -webkit-border-radius: 4px;
          border-radius: 4px; }
          #main .body table tbody tr td.title a:link, #main .body table tbody tr td.title a:visited {
            text-decoration: none; }
          #main .body table tbody tr td.title a:hover, #main .body table tbody tr td.title a:active {
            text-decoration: underline; }
          #main .body table tbody tr td.title a:hover, #main .body table tbody tr td.title a:active {
            background: #eeeeee;
            color: #dc2e78; }
      #main .body table tbody tr td.author {
        font-size: 12px; }
        #main .body table tbody tr td.author img {
          height: 18px;
          width: 18px;
          -moz-border-radius: 2px;
          -webkit-border-radius: 2px;
          border-radius: 2px;
          margin: 0 6px 0 0;
          float: left;
          display: block; }
      #main .body table tbody tr td.created_at {
        font-size: 12px; }
      #main .body table tbody tr td.edit,
      #main .body table tbody tr td.delete {
        width: 8%; }
        #main .body table tbody tr td.edit a,
        #main .body table tbody tr td.delete a {
          text-decoration: none;
          display: block;
          -moz-border-radius: 4px;
          -webkit-border-radius: 4px;
          border-radius: 4px;
          background: #e6eced;
          text-align: center;
          line-height: 26.4px;
          font-size: 12px; }
      #main .body table tbody tr:nth-child(even) {
        background: #f9f9f9; }
