= partial :article, :locals => {:post => @entry}
%ul.comments
  - @entry.comments.each do |comment|
    %li.comment
      .body= comment.body
      .name= link_to comment.name, comment.homepage
= comment_form
