body {
  margin: 0px;
  padding: 0px;
  text-align: center;
  background-color: #efebe3;
  font-size: 14px;
  color: #333;
  line-height: 22px;
  font-family: "メイリオ", "Lucida Sans Unicode", "Lucida Grande", Arial, Helvetica, "ヒラギノ丸ゴ Pro W4", HiraMaruPro-W4, Verdana, HiraMaruPro-W4, "ヒラギノ角ゴ Pro W3", HiraKakuPro-W3, Osaka, sans-serif;
}

p {
  margin: 26px 0px;
}

a:link { color: #2844ac; }
a:visited { color: #2844ac; }
a:hover { color: #ec189a; }
a:hover { color: #ec189a; }
img { border: 0; }

form {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2.3em;
  letter-spacing: 2px;
  line-height: 1;
  margin: 0px 30px;
  padding: 0px;
}

h2 {
  font-size: 1.45em;
  font-weight: bold;
  color: black;
  margin: 0 0 0.6em 0;
}

ul {
  list-style: square;
}

#nav {
  width: 970px;
  margin: 0 auto;
}

#nav ul {
  text-align: right;
  font-size: 0.9em;
  font-weight: bold;
}
#nav ul a {
  text-decoration: none;
}
#nav ul li {
  display: inline;
  margin-left: 10px;
}
#nav ul li form {
  display: inline;
}
#nav ul li form input {
  border: 1px solid #999999;
  font-size: 0.9em;
  font-weight: normal;
  width: 100px;
}

li {
  margin: 5px 0;
}

pre {
  line-height: 100%;
  padding: 1.2em 0.6em;
  background-color: #eeeeee;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow: hidden;
}

code {
  font-size: 1em;
}

blockquote {
  padding: 1em;
  margin: 0;
  background-color: #eeeeee;
}

#header {
  width: 970px;
  background: #fff;
  margin: 0px auto;
  padding: 20px 0px;
  text-align: left;
}

#header .description {
  margin: 5px 30px;
}

#header a {
  text-decoration: none;
}

#bread_crumb {
  margin: 0px auto;
  width: 970px;
  background-color: #fff;
  text-align: left;
}

#bread_crumb ol {
  padding: 20px 30px;
  margin: 0px;
  list-style: none;
}

#bread_crumb ol li {
  display: inline;
  font-size: 14px;
}

#bread_crumb ol li:before {
  content: " > ";
}

#bread_crumb ol li:first-child:before {
  content: "";
}

#content {
  width: 970px;
  height: auto;
  margin: 0 auto;
  background-color: #fff;
  text-align: left;
}

#main {
  float: left;
  width: 730px;
}

#aside {
  float: right;
  width: 240px;
  text-align: left;
}
#aside dl {
  margin: 0em 2em 0em 0em;
}
#aside dt {
  font-size: 1em;
  font-weight: bold;
}
#aside dd {
  margin: 14px 0px;
  font-size: 1em;
}
#aside .section a {
  text-decoration: none;
}

#aside ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#aside li {
  margin: 5px 0;
  padding: 0;
}

.article {
  margin: 0px 30px 30px 30px;
}
.article .title {
  font-size: 24px;
  text-align: left;
  padding: 0;
  margin-bottom: 1.2em;
}
.article .title a {
  text-decoration: none;
}
.article .body {
  text-align: left;
  margin-bottom: 1em;
  line-height: 150%;
}

.article .footer {
  padding: 0;
  text-align: right;
}

.article .footer ul.tags {
  display: inline;
  list-style-type: none;
}

.article .footer ul.tags li.tag {
  display: inline;
}

.article .footer ul.tags li.tag:before {
  content: ", ";
}

.article .footer ul.tags li.tag:first-child:before {
  content: " ";
}

.article .footer .created_at {
  display: inline;
  margin-left: 0.5em;
}

.article .footer .comment {
  display: inline;
  margin-left: 0.5em;
}

.article .footer .edit {
  display: inline;
  margin-left: 0.5em;
}

.article form {
  text-align: left;
}

#footer {
  clear: both;
  width: 970px;
  margin: 0 auto;
  background-color: #fff;
  text-align: center;
  padding: 1em 0em;
}

#footer .poweredby {
  text-align: center;
}

.icon {
  vertical-align: middle;
  border: none;
  margin: 0 0.6em 0.3em 0;
}

label.label {
  font-weight: bold;
  text-align: left;
}
label.checkbox {
  font-weight: normal;
}

input.text_field {
  font-size: 14px;
  padding: 5px;
  width: 800px;
  border: 1px solid #999999;
}
input.text_field_small {
  font-size: 14px;
  width: 150px;
  border: 1px solid #999999;
}
input.text_field_mini {
  font-size: 22px;
  padding: 5px;
  width: 400px;
}

textarea {
  border: 1px solid #999999;
  padding: 5px;
}
textarea.text_area {
  width: 800px;
  height: 400px;
}

#article_body_editor {
  font-size: 14px;
  width: 100%;
  height: 400px;
  border: 1px solid #999999;
}

.export {
  margin: 0 10px;
}

.fieldWithErrors {
  border: solid 2px red;
}

#errorExplanation {
  border: 2px solid red;
  padding: 7px;
  margin-bottom: 10px;
  background-color: #f0f0f0;
}
#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #cc0000;
  color: white;
}
#errorExplanation h2 ul li {
  list-style: square;
}

.notice {
  background: #eeeeee;
  padding: 10px 15px;
  margin: 10px 0px;
  border-top: solid 1px #0b53c1;
  border-bottom: solid 1px #0b53c1;
}

.warn {
  background: #ffeeee;
  padding: 10px 15px;
  margin: 10px 0px;
  border-top: solid 1px red;
  border-bottom: solid 1px red;
}

ul.pager {
  text-align: center;
}

ul.pager li {
  display: inline;
  margin: 0px 5px;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clearfix {
  display: inline-table;
}

ul.comments {
  list-style: none;
  padding: 0;
}

ul.comments .comment {
  margin: 0px 30px 30px 30px;
}

ul.comments .comment .body {
  margin-bottom: 0.5em;
}

ul.comments .comment .footer {
  text-align: right;
}

ul.comments .comment .footer .name {
  display: inline;
  margin-left: 0.5em;
}

ul.comments .comment .footer .created_at {
  display: inline;
  margin-left: 0.5em;
}

h4.comment {
  margin: 0px 30px 0px 30px;
}

#comment_form {
  margin: 0px 30px 0px 30px;
}

#search_form input {
  width: 200px;
}

.gist pre {
  color: black;
}
