body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #333;
  text-align: center;
}

a {
  color: #00ADEF;
  text-decoration: none;
}

h1 a {
  color: white;
}

img {
  border: 0;
}

form {
  margin: 0;
  padding: 0;
}

input,
textarea,
select {
    border-top: 1px solid #999;
    border-left: 1px solid #999;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background: #fafafa;
    padding: 4px 3px;
}

#bubble {
  float: left;
  margin: 0px 20px 0px 70px;
  border-bottom: 10px solid #00adef;
  border-left: 10px solid transparent;
  -border-left-color: white;
}

#bubble h1 {
  display: block;
  padding: 14px 25px;
  margin: 0 0 -25px;
  background: #00adef;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  color: #000;
  -position: relative;
}

h2 {
  font-size: 1.3em;
  font-weight: bold;
  color: black;
  margin: 0 0 0.6em 0;
}

ul {
  list-style: square;
}

li {
  margin: 5px 0;
}

pre {
  max-width: 790px;
  margin: 0.5em 0em;
  padding: 0.5em;
  background-color: #000;
  color: #fff;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow: auto;
}

code {
}

blockquote {
  margin: 0;
  padding: 0.5em;
  background-color: #eee;
}

#wrapper {
  margin: 10px auto;
  text-align: left;
  max-width: 800px;
  padding: 0.5em;
}

#header {
  background: url(images/good_face.png) no-repeat;
  text-align: left;
  margin-bottom: 1em;
}

#header a {
  text-decoration: none;
}

#nav {
  float: right;
  list-style: none;
  margin: 0;
  padding: 0;
}

#nav li {
  float: left;
  margin-right: 0.4em;
}

#nav li a {
  padding: 4px 3px;
}

#search {
  margin-left: 1em;
}

#search button {
  border: none;
  background: #00adef;
  padding: 0.5em 1em;
  color: #fff;
}

#search input {
  width: 100px;
}

#bread_crumb {
  margin: 0px auto;
  text-align: left;
}

#bread_crumb ol {
  padding: 20px 0px;
  margin: 0px;
  list-style: none;
}

#bread_crumb ol li {
  display: inline;
  font-size: 14px;
}

#bread_crumb ol li:before {
  content: " > ";
}

#bread_crumb ol li:first-child:before {
  content: "";
}

.article {
  margin: 0px 0px 30px 0px;
}

.article .title {
  font-size: normal;
  text-align: left;
  padding: 0;
  margin-bottom: 1.2em;
}
.article .title a {
  text-decoration: none;
}
.article .body {
  text-align: left;
  margin-bottom: 1em;
  line-height: 140%;
}

.article .footer {
  padding: 0;
  text-align: right;
}

.article .footer ul.tags {
  display: inline;
  list-style-type: none;
}

.article .footer ul.tags li.tag {
  display: inline;
}

.article .footer ul.tags li.tag:before {
  content: ", ";
}

.article .footer ul.tags li.tag:first-child:before {
  content: " ";
}

.article .footer .created_at {
  display: inline;
  margin-left: 0.5em;
}

.article .footer .comment {
  display: inline;
  margin-left: 0.5em;
}

.article .footer .edit {
  display: inline;
  margin-left: 0.5em;
}

.article form {
  text-align: left;
}

#footer {
  clear: both;
  margin: 0 auto;
  text-align: center;
  padding: 1em 0em;
}

#footer .poweredby {
  text-align: center;
}

.icon {
  vertical-align: middle;
  border: none;
  margin: 0 0.6em 0.3em 0;
}

label.label {
  font-weight: bold;
  text-align: left;
}
label.checkbox {
  font-weight: normal;
}

input.text_field {
  font-size: 14px;
  padding: 5px;
  border: 1px solid #999999;
}
input.text_field_small {
  font-size: 14px;
  border: 1px solid #999999;
}
input.text_field_mini {
  font-size: 22px;
  padding: 5px;
}

textarea {
  border: 1px solid #999999;
  padding: 5px;
}
textarea.text_area {
  height: 400px;
}

#article_body_editor {
  font-size: 14px;
  height: 400px;
  border: 1px solid #999999;
}

.notice {
  background: #eeeeee;
  padding: 10px 15px;
  margin: 10px 0px;
  border-top: solid 1px #0b53c1;
  border-bottom: solid 1px #0b53c1;
}

.warn {
  background: #ffeeee;
  padding: 10px 15px;
  margin: 10px 0px;
  border-top: solid 1px red;
  border-bottom: solid 1px red;
}

ul.pager {
  text-align: center;
}

ul.pager li {
  display: inline;
  margin: 0px 5px;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clearfix {
  display: inline-table;
}

ul.comments {
  list-style: none;
  padding: 0;
}

ul.comments .comment {
  margin: 0px 30px 30px 0px;
}

ul.comments .comment .body {
  margin-bottom: 0.5em;
}

ul.comments .comment .footer {
  text-align: right;
}

ul.comments .comment .footer .name {
  display: inline;
  margin-left: 0.5em;
}

ul.comments .comment .footer .created_at {
  display: inline;
  margin-left: 0.5em;
}

h4.comment {
  margin: 0px 30px 0px 0px;
}

#comment_form {
  margin: 0px 30px 0px 0px;
}

.button {
  border: none;
  background: #00adef;
  padding: 0.5em 1em;
  color: #fff;
}
