%h2= t('edit_user')
%form{ action: url("/admin/users/#{@user.id}"), method: :post }
  %input{ type: :hidden, name: :_method, value: :put }
  = haml :'admin/users/form', layout: false
  %p
    %input{ type: :submit, value: t('save') }
