%h2= t("new_#{@name}")
= partial 'entries/form', :views => Lokka.admin_theme_dir, :layout => :admin_layout, :locals => {:action => url("/admin/#{@name.pluralize}"), :method => 'post', :label => t('new')}
