/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 12, ../sass/screen.sass */
body {
  margin: 0;
  padding: 0;
  line-height: 1px;
  background: #edece2;
}

/* line 18, ../sass/screen.sass */
p {
  font-size: 15px;
  line-height: 25px;
}

/* line 22, ../sass/screen.sass */
header {
  clear: both;
  margin: 0 0 auto;
  padding-top: 10px;
  width: 100%;
  height: 65px;
  color: #edece2;
  background: #1c1c1c;
}

/* line 31, ../sass/screen.sass */
.wrap {
  display: block;
  width: 860px;
  height: 60px;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  padding: 0;
  font-family: serif;
}

/* line 41, ../sass/screen.sass */
h1 {
  margin: 0;
  padding: 0;
}

/* line 45, ../sass/screen.sass */
.head_logo {
  line-height: 60px;
  margin-right: 20px;
  float: left;
  font-size: 26px;
  color: #edece2;
  text-decoration: none;
}

/* line 53, ../sass/screen.sass */
.catchcopy {
  top: 20px;
  font-size: 16px;
  font-family: serif;
  float: left;
  position: relative;
}

/* line 60, ../sass/screen.sass */
.gNav {
  margin-top: 20px;
  overflow: hidden;
  float: right;
}

/* line 65, ../sass/screen.sass */
.gNavi ul {
  margin: 0;
  padding: 0;
}

/* line 69, ../sass/screen.sass */
.gNav li {
  list-style: none;
  width: 50px;
  float: left;
}
/* line 73, ../sass/screen.sass */
.gNav li a {
  display: block;
  line-height: 30px;
  text-align: center;
  color: #edece2;
  font-family: serif;
}
/* line 79, ../sass/screen.sass */
.gNav li a:hover, .gNav li a:active {
  background: #db6b3b;
}

/* line 82, ../sass/screen.sass */
#contents {
  margin: 70px auto;
  width: 860px;
  position: relative;
  clear: both;
  overflow: hidden;
  *zoom: 1;
}

/* line 89, ../sass/screen.sass */
#main {
  width: 660px;
  margin: 0;
  padding: 0;
  float: left;
}

/* line 95, ../sass/screen.sass */
article {
  white-space: normal;
  border-bottom: dotted;
  border-color: #1c1c1c;
  border-width: 1px;
  width: 660px;
  background: #faf9f4;
  float: left;
  font-family: serif;
  padding-bottom: 20px;
  margin-bottom: 30px;
}
/* line 107, ../sass/screen.sass */
article p {
  margin: 10px 0;
}

/* line 110, ../sass/screen.sass */
.title {
  font-size: 24px;
  padding: 20px;
}

/* line 114, ../sass/screen.sass */
.title h1 {
  line-height: 30px;
  padding: 5px 0;
  font-size: 30px;
}

/* line 119, ../sass/screen.sass */
h2 {
  line-height: 30px;
  font-size: 22px;
  margin: 20px 5px;
  border-bottom: dotted 1px;
}

/* line 125, ../sass/screen.sass */
h3 {
  line-height: 30px;
  font-size: 18px;
  margin: 20px 5px;
  border-bottom: dotted 1px;
}

/* line 131, ../sass/screen.sass */
.title a {
  text-decoration: none;
  color: #1c1c1c;
  font-size: 30px;
}
/* line 135, ../sass/screen.sass */
.title a:hover {
  text-decoration: underline;
}

/* line 138, ../sass/screen.sass */
.date {
  float: left;
  height: 130px;
  width: 110px;
  position: relative;
  right: 30px;
  bottom: 10px;
}

/* line 146, ../sass/screen.sass */
.date_contents {
  position: relative;
  color: #edece2;
  bottom: 95px;
  left: 20px;
  width: 90px;
}

/* line 153, ../sass/screen.sass */
.month {
  float: left;
  font-size: 40px;
  margin: 2px;
  text-align: center;
}

/* line 159, ../sass/screen.sass */
.days {
  font-size: 40px;
  margin: 2px 0px;
  float: right;
  text-align: center;
}

/* line 165, ../sass/screen.sass */
.year {
  font-size: 20px;
  float: left;
  margin: 5px 0 0 20px;
  text-align: center;
}

/* line 171, ../sass/screen.sass */
.tags {
  clear: both;
  border-top: dotted;
  border-bottom: dotted;
  border-width: 1px;
  margin: 0 10px 45px;
  height: 40px;
  padding: 15px 0;
  overflow: hidden;
}
/* line 180, ../sass/screen.sass */
.tags p {
  margin-top: 8px;
  float: left;
}
/* line 183, ../sass/screen.sass */
.tags ul {
  margin: 0;
  padding: 0;
  line-height: 0;
}
/* line 187, ../sass/screen.sass */
.tags li {
  margin-top: 7px;
  list-style: none;
  width: 70px;
  float: left;
}
/* line 192, ../sass/screen.sass */
.tags li a {
  margin: 0;
  padding: 0;
  display: block;
  line-height: 26px;
  text-align: center;
  color: #1c1c1c;
  border: none;
}
/* line 200, ../sass/screen.sass */
.tags li a:hover {
  background: #e0ded5;
}

/* line 203, ../sass/screen.sass */
.article_contents {
  width: 550px;
  float: right;
}
/* line 207, ../sass/screen.sass */
.article_contents .body {
  padding: 0 20px;
}
/* line 210, ../sass/screen.sass */
.article_contents .body .body img {
  display: block;
  margin: 20px;
  width: 510px;
  line-color: #1c1c1c;
}
/* line 216, ../sass/screen.sass */
.article_contents .body pre {
  background: #545353;
  margin: 20px 0;
  padding: 10px;
  white-space: normal;
}
/* line 222, ../sass/screen.sass */
.article_contents .body pre code {
  line-height: 17px;
  font-size: 13px;
  color: #db6b3b;
  margin-bottom: 5px;
}
/* line 229, ../sass/screen.sass */
.article_contents .body blockquote {
  margin: 20px 0;
  padding: 10px;
  background: red;
  line-height: 20px;
}

/* line 235, ../sass/screen.sass */
.edit {
  margin: 0 10px 10px;
  float: right;
}
/* line 238, ../sass/screen.sass */
.edit a {
  color: #1c1c1c;
}

/* line 241, ../sass/screen.sass */
#side_bar {
  width: 160px;
  float: right;
  white-space: normal;
  font-family: serif;
}

/* line 247, ../sass/screen.sass */
.side_header {
  background: #1c1c1c;
  height: 40px;
  color: #edece2;
  font-family: serif;
  text-align: left;
}
/* line 253, ../sass/screen.sass */
.side_header h4 {
  color: #faf9f4;
  font-size: 20px;
  line-height: 30px;
  margin: 0;
  padding: 5px 10px;
}

/* line 260, ../sass/screen.sass */
.new {
  padding-bottom: 20px;
}
/* line 262, ../sass/screen.sass */
.new ul {
  padding: 0;
  margin: 0;
}
/* line 265, ../sass/screen.sass */
.new li {
  font-size: 12px;
  line-height: 15px;
  list-style: none;
  margin: 0;
  border-left: dotted 3px #db6b3b;
  padding-left: 11px;
  margin: 6px;
}
/* line 273, ../sass/screen.sass */
.new li a {
  color: #1c1c1c;
}
/* line 275, ../sass/screen.sass */
.new a {
  color: #1c1c1c;
}

/* line 278, ../sass/screen.sass */
.new_content {
  border-bottom: dotted;
  border-color: #1c1c1c;
  border-width: 1px;
  background: #faf9f4;
  padding: 5px;
  margin: 0;
}

/* line 286, ../sass/screen.sass */
.past {
  padding-bottom: 20px;
}
/* line 288, ../sass/screen.sass */
.past ul {
  padding: 0;
  margin: 0;
}
/* line 291, ../sass/screen.sass */
.past li {
  font-size: 12px;
  line-height: 15px;
  list-style: none;
  margin: 0;
  border-left: dotted 3px #db6b3b;
  padding-left: 11px;
  margin: 6px;
}
/* line 299, ../sass/screen.sass */
.past li a {
  color: #1c1c1c;
}
/* line 301, ../sass/screen.sass */
.past a {
  color: #1c1c1c;
}

/* line 304, ../sass/screen.sass */
.past_content {
  border-bottom: dotted;
  border-color: #1c1c1c;
  border-width: 1px;
  background: #faf9f4;
  padding: 5px;
}

/* line 311, ../sass/screen.sass */
.side_tags {
  padding-bottom: 20px;
}
/* line 313, ../sass/screen.sass */
.side_tags ul {
  padding: 0;
  margin: 0;
}
/* line 316, ../sass/screen.sass */
.side_tags li {
  font-size: 13px;
  line-height: 15px;
  list-style: none;
  margin: 0;
  border-left: dotted 3px #db6b3b;
  padding-left: 11px;
  margin: 6px;
}
/* line 324, ../sass/screen.sass */
.side_tags li a {
  color: #1c1c1c;
}
/* line 326, ../sass/screen.sass */
.side_tags a {
  color: #1c1c1c;
}

/* line 329, ../sass/screen.sass */
.side_tags_content {
  border-bottom: dotted;
  border-color: #1c1c1c;
  border-width: 1px;
  background: #faf9f4;
  padding: 5px;
}

/* line 336, ../sass/screen.sass */
.search {
  padding-bottom: 20px;
}
/* line 338, ../sass/screen.sass */
.search form {
  margin: 0;
  border-left: dotted 3px #db6b3b;
  padding-left: 11px;
  margin: 6px;
}

/* line 344, ../sass/screen.sass */
.search_content {
  border-bottom: dotted;
  border-color: #1c1c1c;
  border-width: 1px;
  background: #faf9f4;
  line-height: 25px;
  padding: 5px;
}

/* line 352, ../sass/screen.sass */
.pn_wrap {
  width: 860px;
  height: 60px;
  margin: 20px auto;
  font-family: serif;
  float: left;
}

/* line 359, ../sass/screen.sass */
.prev {
  width: 100px;
  height: 30px;
  line-height: 30px;
  background: #545353;
  float: left;
  text-align: center;
}
/* line 366, ../sass/screen.sass */
.prev a {
  color: #faf9f4;
  text-decoration: none;
}
/* line 369, ../sass/screen.sass */
.prev a:hover {
  text-decoration: underline;
}

/* line 372, ../sass/screen.sass */
.next {
  width: 100px;
  height: 30px;
  line-height: 30px;
  background: #545353;
  float: right;
  margin-right: 200px;
  text-align: center;
}
/* line 380, ../sass/screen.sass */
.next a {
  color: #faf9f4;
  text-decoration: none;
}
/* line 383, ../sass/screen.sass */
.next a:hover {
  text-decoration: underline;
}

/* line 386, ../sass/screen.sass */
footer {
  clear: both;
  width: 100%;
  height: 88px;
  z-index: 10;
  color: #edece2;
  background: #1c1c1c;
  margin-top: 70px;
  font-size: 15px;
}

/* line 396, ../sass/screen.sass */
.copyright {
  float: left;
  margin-right: 15px;
  position: relative;
  top: 30px;
}
/* line 401, ../sass/screen.sass */
.copyright a {
  color: #edece2;
}
/* line 403, ../sass/screen.sass */
.copyright a:hover {
  background: #db6b3b;
}

/* line 406, ../sass/screen.sass */
.poweredby {
  float: right;
  position: relative;
  top: 30px;
  width: 160px;
  text-align: right;
}
/* line 412, ../sass/screen.sass */
.poweredby a {
  color: #edece2;
}
/* line 414, ../sass/screen.sass */
.poweredby a:hover {
  background: #db6b3b;
}

/* line 417, ../sass/screen.sass */
.control {
  margin-top: 30px;
  margin-right: 20px;
  overflow: hidden;
  float: right;
  text-align: center;
}
/* line 423, ../sass/screen.sass */
.control li {
  list-style: none;
  width: 70px;
  float: left;
}
/* line 427, ../sass/screen.sass */
.control li a {
  display: block;
  line-height: 26px;
  text-align: center;
  color: #edece2;
}
/* line 432, ../sass/screen.sass */
.control li a:hover {
  background: #db6b3b;
}
