%h2 Basic Auth
%form{'action' => url("/admin/plugins/basic_auth"), 'method' => "post"}
  .field
    %label(for="basic_auth_username") Username
    %br/
    %input(type="text" id="basic_auth_username" name="basic_auth_username" value="#{Option.basic_auth_username}")
  .field
    %label(for="basic_auth_password") Password
    %br/
    %input(type="text" id="basic_auth_password" name="basic_auth_password" value="#{Option.basic_auth_password}")
  .field
    %input(type="submit" value="#{t('edit')}")
