<div class="article">
  <div class="header">
    <h2><%= @document.title %></h2>
  </div>
  <div class="body">
    <%= @document.body %>
  </div>
  <div class="footer">
    <div class="created_at"><%= @document.created_at %></div>
    <div class="updated_at"><%= @document.updated_at %></div>
  </div>
</div>
