<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=UTF-8" />
    <meta http-equiv="Content-Style-Type" content="text/css" />
    <meta http-equiv="Content-Script-Type" content="text/javascript" />
    <title><%= @site.title %></title>
    <link rel="stylesheet" href="/theme/default/style.css" type="text/css" />
    <script type="text/javascript" src="js/script.js"></script>
  </head>
  <body>
    <div id="header">
      <h1><%= @site.title %></h1>
      <div class="description"><%= @site.description %></div>
    </div>
    <div id="main">
      <%= yield %>
    </div>
    <div id="aside">
      <div class="section">
        <h3>Admin</h3>
        <ul>
          <li><a href="/admin/">Admin</a></li>
        </ul>
      </div>
    </div>
    <div id="footer">
      footer
    </div>
  </body>
</html>
