<div class="article">
  <div class="header">
    <h2><%= @post.title %></h2>
  </div>
  <div class="body">
    <%= @post.body %>
  </div>
  <div class="footer">
    <div class="created_at"><%= @post.created_at %></div>
    <div class="updated_at"><%= @post.updated_at %></div>
  </div>
</div>
