%h2= t('edit_tag')
%form{ action: url("/admin/tags/#{@tag.id}"), method: :post }
  %input{ type: :hidden, name: :_method, value: :put }
  = haml :'admin/tags/form', layout: false
  %p
    %input{ type: :submit, value: t('save') }
