%h2 Signup
%form{:action => '/admin/signup', :method => 'post'}
  %p
    %label{:for => 'user_name'} Name
    %br
    %input{:id => 'user_name', :name => 'user[name]', :type => 'text' }
  %p
    %label{:for => 'user_password'} Password
    %br
    %input{:id => 'user_password', :name => 'user[password]', :type => 'password' }
  %p
    %label{:for => 'user_password_confirmation'} Confirm Password
    %br
    %input{:id => 'user_password_confirmation', :name => 'user[password_confirmation]', :type => 'password' }
  %p
    %input{:value => 'Create account', :type => 'submit' }
    %a{:href => '/admin/login'} Login
