#nav {
  position: absolute;
  top: 1em;
  right: 1em;
}

#nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#nav ul li {
  margin: 0 6px;
  display: inline;
}

#main {
  margin-left: 150px;
}

#aside {
  float: left;
  width: 150px;
}

#aside ul {
}

#footer {
  clear: both;
  text-align: center;
}

ul.themes {
  list-style: none;
}

li.theme {
  float: left;
  padding: 0;
  margin: 10px;
  width: 310px;
}

li.theme .screenshot img {
  max-width: 300px;
}
