- content_for :head_last do
  %link{:rel => 'stylesheet', :href => '/plugin/lokka-redirectors/views/redirector.css', :type => 'text/css'}
- content_for :admin_aside do
  %li.redirector.parent
    %h3.title= t.redirectors
    %ul 
      %li.list
        %a{:href => '/admin/plugins/redirectors'}= t.list
      %li.new
        %a{:href => '/admin/plugins/redirectors/new'}= t.new
