!!! XML
!!!
%html
  %head
    %meta{ 'http-equiv' => 'Content-Type', 'content' => 'text/html; charset=utf-8' }
    %meta{ 'http-equiv' => 'Content-Style-Type', 'content' => 'text/css' }
    %meta{ 'http-equiv' => 'Content-Script-Type', 'content' => 'text/javascript' }
    %title 500 - Lokka
    %link{ rel: 'shortcut icon', href: url('/lokka/favicon.ico') }
    %link{ rel: 'stylesheet', href: url('/lokka/style.css'), type: 'text/css' }
  %body
    #header
      %h1
        %a{ href: url('/') } 500 - Lokka
    #content
      #main
        %h2 500
    #footer
      %a{ href: 'http://github.com/lokka/lokka' } Lokka
