- unless @tag.errors.empty?
  #error
    .title= rt.error
    %ul
      - @tag.errors.each do |error|
        %li= error
.field
  %label(for="tag_name")= rt.tag.name
  %br
  %input(type="text" id="tag_name" name="tag[name]" value="#{@tag.name}")
