- unless @tag.errors.empty?
  #error
    .title= t('error')
    %ul
      - @tag.errors.each do |error|
        %li= error
.field
  %label(for="tag_name")= t('tag.name')
  %br
  %input(type="text" id="tag_name" name="tag[name]" value="#{@tag.name}")
