%h2= rt.edit_category
%form(action="/admin/categories/#{@category.id}" method="post")
  %input(type="hidden" name="_method" value="put")
  = partial 'categories/form'
  %p
    %input(type='submit' value="#{rt.edit}")
