%h2= t('edit_category')
= partial 'categories/form', :views => Lokka.admin_theme_dir, :layout => :admin_layout, :locals => {:action => url("/admin/categories/#{@category.id}"), :method => 'put', :label => t('save')}
