%h2= rt.edit_comment
%form(action="/admin/comments/#{@comment.id}" method="post")
  %input(type="hidden" name="_method" value="put")
  = partial 'comments/form'
  %p
    %input(type="submit" value="#{rt.edit}")
